<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
	
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWBKXF27" height="0" width="0"
			style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->



	<!-- <div th:replace="~{fragments/header :: header(cp = 'Contact')} "></div> -->
	 <header class="site-header headertb scroll-header headertb ">
	<div class="overlay" id="overlay"></div>
	<nav class="navbar navbar-light navbar_top ">
		<div class="container d-flex justify-content-between align-items-center">
			<a class="navbar-brand" href="/">
				<img src="/images/revamp_img/logo.svg" width="189" height="48" alt="OutSpark Logo">
			</a>
			<ul class="navbar-nav flex-row d-none d-lg-flex">
				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle" href="javascript:void(0)" id="desktopDropdown">Products <span
							class="arrow_down"></span></a>
					
					
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="expert-resume-maker">Expert Resume Makeover</a></li>
							<li><a class="dropdown-item" href="ai-resume-enhancer">AI Resume Enhancer </a></li>
							<!-- <li><a class="dropdown-item" href="profile-review-linkedin">Profile Review for LinkedIn</a>
							</li> -->
							<li><a class="dropdown-item" href="profile-makeover-linkedin">Makeover for LinkedIn
									Profile</a>
							</li>
							<li><a class="dropdown-item" href="linkedin-post-buddy">Post Buddy for LinkedIn Growth </a>
							</li>
						</ul>
					
				</li>
				
				
				
					<li class="nav-item ">
						<a class="nav-link " href="/about-us">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact-us" target="_blank">Contact</a>
					</li>
				
				<li class="nav-item ">
					<a class="nav-link primary-btn login-btn link-white" href="/login">Login</a>
				</li>
			</ul>
			<button class="navbar-toggler d-lg-none" type="button" id="mobileMenuToggle">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>

	<div class="side-nav navbar_top" id="sideNav">
		<span class="close-btn" id="closeSideNav">&times;</span>
		<ul>
			<a href="javascript:void(0)" class="mobile-dropdown-toggle nav-link">Products <span
					class="arrow_down"></span></a>
			<!-- <ul class="submenu">
				<li><a class="dropdown-item" href="gold-resume-builder">Expert Resume Makeover</a></li>
				<li><a class="dropdown-item" href="silver-resume-builder">AI Resume Enhancer  </a></li> 
				<li><a class="dropdown-item" href="profile-review-linkedin">Profile Review for LinkedIn</a></li>
				<li><a class="dropdown-item" href="profile-makeover-linkedin">Makeover for LinkedIn Profile</a></li>
				<li><a class="dropdown-item" href="linkedin-post-buddy">Post Buddy for LinkedIn Growth </a></li>
		  </ul> -->
			
			
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="expert-resume-maker">Expert Resume Makeover</a></li>
					<li><a class="dropdown-item" href="ai-resume-enhancer">AI Resume Enhancer </a></li>
					<li><a class="dropdown-item" href="profile-review-linkedin">Profile Review for LinkedIn</a></li>
					<li><a class="dropdown-item" href="profile-makeover-linkedin">Makeover for LinkedIn Profile</a>
					</li>
					<li><a class="dropdown-item" href="linkedin-post-buddy">Post Buddy for LinkedIn Growth </a></li>
				</ul>
			
			</li>


			
			
			
				<li class="nav-item ">
					<a class="nav-link " href="/about-us">About</a>
				</li>
				<li class='nav-item'>
					<a class="nav-link" href="/contact-us" target="_blank">Contact</a>
				</li>
			
			<li>
				<a class="nav-link primary-btn btn-login-btn login-btn link-white mobile-nav-btn"
					href="/login">Login</a>
			</li>
		</ul>
	</div>
</header>



	<div class="container-fluid" style="background: #fff;">

		<div class="container">

			<div class="conatct_wrapper">

				<div class="row">

					<div class="col-md-4">
						<img src="/images/contact_img.png" alt="" style="height: 350px;">
					</div>

					<div class="col-md-8">

						<h1  class="heading-top1">Contact Us</h1>

						<div class="contact_add">
							<p>For <strong>Customer Queries, Product Issues</strong> & <strong>Refund Claims</strong>
								Email Us</p>
							<p class="text-success sm_heading">
								<a href="mailto:help@myoutspark.com"
									class="text-success sm_heading text-decoration-none">help@myoutspark.com
								</a>
							</p>
						</div>

						<div class="contact_add">
							<p>For <strong>Business Inquiries</strong> And <strong>Partnership Opportunities</strong>,
								Please Reach Out To Us At </p>
							<p class="text-success sm_heading">
								<a href="mailto:partnerships@myoutspark.com"
									class="text-success sm_heading text-decoration-none">partnerships@myoutspark.com
								</a>
							</p>

						</div>
						<div class="contact_add">
							<p><strong>CONTACT INFORMATION</strong>,
								Email: support@myoutspark.com<br>
								Address: Centrum Plaza, Sector-53, Golf Course Road,<br>
								Gurugram, Haryana, India-122002 </p>

						</div>





					</div>


				</div>



			</div>

		</div>

	</div>



	<!--============================
=            Footer            =
=============================-->
	<!-- <div th:replace="~{fragments/footer :: footer} "></div> -->
    <footer>
	<div class="container">
		<div class="row pad100">
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-10">
						<a href="/"><img src="images/revamp_img/logo-white.svg" class="white-logo" width="272"
								height="68" alt="OutSpark"></a>
						<p class="about-text">
							We enable job seekers to get their dream jobs.
							Starting with AI powered customized resume, interview prep and many more features yet to
							come.

						</p>

						<div class="social-share">
							<ul class="d-flex">
								<li>
									<a href="https://www.facebook.com/profile.php?id=61550799067449" target="_blank">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<circle cx="20" cy="20" r="20" fill="#0766FF" />
											<path
												d="M22.0922 14.5061V17.3255H25.5802L25.028 21.1243H22.0922V29.8755C21.5034 29.9575 20.9012 30 20.2901 30C19.5843 30 18.8919 29.9434 18.2167 29.8345V21.1243H15V17.3255H18.2167V13.8763C18.2167 11.7358 19.9517 10 22.093 10V10.0022C22.0989 10.0022 22.1049 10 22.1109 10H25.581V13.2845H23.3138C22.6393 13.2845 22.093 13.8308 22.093 14.5053L22.0922 14.5061Z"
												fill="white" />
										</svg>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/company/myoutspark/" target="_blank">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<circle cx="20" cy="20" r="20" fill="#0A66C2" />
											<path
												d="M10.7019 13.9575C10.2336 13.5166 10 12.971 10 12.3218C10 11.6727 10.2336 11.1025 10.7019 10.6615C11.1702 10.2205 11.7729 10 12.5123 10C13.2516 10 13.8301 10.2205 14.2973 10.6615C14.7656 11.1025 14.9992 11.6562 14.9992 12.3218C14.9992 12.9874 14.7656 13.5166 14.2973 13.9575C13.8291 14.3985 13.2344 14.619 12.5123 14.619C11.7901 14.619 11.1702 14.3985 10.7019 13.9575ZM14.6048 16.4865V30H10.3944V16.4865H14.6048Z"
												fill="white" />
											<path
												d="M28.6232 17.8198C29.5405 18.83 29.9996 20.2175 29.9996 21.9835V29.7612H25.9996V22.5322C25.9996 21.642 25.7721 20.9498 25.317 20.4565C24.8618 19.9632 24.2499 19.7171 23.4813 19.7171C22.7126 19.7171 22.1008 19.9642 21.6456 20.4565C21.1905 20.9498 20.963 21.642 20.963 22.5322V29.7612H16.9397V16.4487H20.963V18.2147C21.3706 17.626 21.9197 17.1614 22.6105 16.8189C23.3003 16.4774 24.077 16.3062 24.9397 16.3062C26.477 16.3062 27.7048 16.8117 28.6221 17.8209L28.6232 17.8198Z"
												fill="white" />
										</svg>
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/@myoutspark" target="_blank">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<circle cx="20" cy="20" r="20" fill="#FF0000" />
											<path
												d="M29.8289 16.7388C29.7068 15.5525 29.4423 14.2424 28.4698 13.5531C27.7154 13.0187 26.7251 12.9991 25.8006 13C23.8457 13.0018 21.8908 13.0036 19.9359 13.0054C18.0558 13.0071 16.1757 13.0089 14.2956 13.0107C13.5101 13.0107 12.7468 12.9502 12.0174 13.2895C11.3904 13.5816 10.9006 14.1364 10.6066 14.7536C10.197 15.6131 10.1106 16.5857 10.0616 17.5359C9.97074 19.2655 9.98054 21.0005 10.0901 22.7283C10.1694 23.9903 10.3715 25.3841 11.3467 26.1883C12.2115 26.9008 13.4317 26.9355 14.5521 26.9364C18.111 26.9391 21.6699 26.9418 25.2288 26.9453C25.6848 26.9453 26.1613 26.9373 26.6262 26.8865C27.5418 26.7877 28.4137 26.5258 29.0015 25.8481C29.5946 25.165 29.7469 24.2129 29.8378 23.3125C30.0569 21.1287 30.0542 18.9217 29.8289 16.7388ZM17.8776 23.0355V16.9098L23.1831 19.9727L17.8776 23.0355Z"
												fill="white" />
										</svg>
									</a>
								</li>

								<li>
									<a href="https://www.instagram.com/myoutspark/" target="_blank"
										title="Visit Instagram Profile">
										<img src="images/revamp_img//instagram_logo_2022.png" alt="Instagram Logo">

									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="accordion accordion-mobile" id="accordionExample">
					<!-- <div class="accordion-item">
			  <h2 class="accordion-header" id="headingOne">
				 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					<h6>Products </h6>
				 </button>
			  </h2>
			  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				 <div class="accordion-body">
					<ul>
					   <li><a href="https://myoutspark.com/resume-checker" target="_blank"> Resume Review</a></li>
					   <li><a href="https://myoutspark.com/ai-resume-builder">Resume AI Builder</a></li>
					   <li><a href="https://myoutspark.com/linkedin-profile-makeover">Resume Makeover</a></li>
					   <li><a href="https://myoutspark.com/linkedin-profile-review">LinkedIn Review</a></li>
					   <li><a href="https://myoutspark.com/linkedin-profile-makeover">LinkedIn Makeover</a></li>
					   <li><a href="https://myoutspark.com/linkedin-content-calendar-post-buddy">Post Buddy for LinkedIn</a></li>
					</ul>
				 </div>
			  </div>
		   </div> -->
					<div class="accordion-item">
						<div class="accordion-header" id="headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span>Plans & Offers </span>
							</button>
						</div>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<ul>
									<!-- <li><a
											href="https://myoutspark.com/lp/specialoffers/SFSL_SinglePage_LP06_V1/payment.html?utm_source=Sales" target="_blank">Offer</a>
									</li> -->

									<li><a href="https://myoutspark.com/lp/specialoffers/SFSL_SinglePage_LP06_V2RP-both/payment.html?utm_source=Sales"
											target="_blank">Exclusive
											Silver Plan</a></li>
									<li><a href="https://myoutspark.com/lp/specialoffers/SFSL_SinglePage_LP06_V2/payment.html?utm_source=RRSales"
											target="_blank">Spark Offer</a></li>
									<li><a href="https://myoutspark.com/lp/specialoffers/linkedin-post-buddy-Dpay-v5/?utm_source=Sales"
											target="_blank">Post Buddy Offer</a></li>

									<li><a href="https://tinyurl.com/4bjrt9md" target="_blank">Gold Plan</a></li>
									<li>
										<a href="https://myoutspark.com/linkedin-profile-makeover/v3?utm_source=Sales"
											target="_blank">LinkedIn Makeover</a>
									</li>
									<li>
										<a href="https://myoutspark.com/lp/specialoffers/combo_product_landing_page?utm_source=Sales"
											target="_blank" class="text-decoration-none">Career Boost Pack</a>
									</li>

								</ul>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span>Company </span>
							</button>
						</div>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<ul>

									
									
										<li><a href="/about-us" target="_blank">About Us</a></li>
										<li><a href="https://myoutspark.com/blog" target="_blank">Blog</a></li>
										<li><a href="/privacy-policy" target="_blank">Privacy Policy</a></li>
										<li><a href="/terms-condition" target="_blank">Terms & Conditions</a></li>
										<li><a href="/refund-cancellation-policy" target="_blank">Refund &
												Cancellation</a></li>
										<li><a href="/cookies-policy" target="_blank">Cookie Policy</a></li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>



	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-sm-10">


					<div class="social-share social-share-bt">
						<ul class="d-flex">
							<li>
								<a href="https://www.facebook.com/profile.php?id=61550799067449"
									aria-label="Go to Facebook" target="_blank">
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<circle cx="20" cy="20" r="20" fill="#0766FF" />
										<path
											d="M22.0922 14.5061V17.3255H25.5802L25.028 21.1243H22.0922V29.8755C21.5034 29.9575 20.9012 30 20.2901 30C19.5843 30 18.8919 29.9434 18.2167 29.8345V21.1243H15V17.3255H18.2167V13.8763C18.2167 11.7358 19.9517 10 22.093 10V10.0022C22.0989 10.0022 22.1049 10 22.1109 10H25.581V13.2845H23.3138C22.6393 13.2845 22.093 13.8308 22.093 14.5053L22.0922 14.5061Z"
											fill="white" />
									</svg>
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/myoutspark/" aria-label="Go to Linkedin"
									target="_blank">
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<circle cx="20" cy="20" r="20" fill="#0A66C2" />
										<path
											d="M10.7019 13.9575C10.2336 13.5166 10 12.971 10 12.3218C10 11.6727 10.2336 11.1025 10.7019 10.6615C11.1702 10.2205 11.7729 10 12.5123 10C13.2516 10 13.8301 10.2205 14.2973 10.6615C14.7656 11.1025 14.9992 11.6562 14.9992 12.3218C14.9992 12.9874 14.7656 13.5166 14.2973 13.9575C13.8291 14.3985 13.2344 14.619 12.5123 14.619C11.7901 14.619 11.1702 14.3985 10.7019 13.9575ZM14.6048 16.4865V30H10.3944V16.4865H14.6048Z"
											fill="white" />
										<path
											d="M28.6232 17.8198C29.5405 18.83 29.9996 20.2175 29.9996 21.9835V29.7612H25.9996V22.5322C25.9996 21.642 25.7721 20.9498 25.317 20.4565C24.8618 19.9632 24.2499 19.7171 23.4813 19.7171C22.7126 19.7171 22.1008 19.9642 21.6456 20.4565C21.1905 20.9498 20.963 21.642 20.963 22.5322V29.7612H16.9397V16.4487H20.963V18.2147C21.3706 17.626 21.9197 17.1614 22.6105 16.8189C23.3003 16.4774 24.077 16.3062 24.9397 16.3062C26.477 16.3062 27.7048 16.8117 28.6221 17.8209L28.6232 17.8198Z"
											fill="white" />
									</svg>
								</a>
							</li>
							<li>
								<a href="https://www.youtube.com/@myoutspark" aria-label="Go to Youtube"
									target="_blank">
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<circle cx="20" cy="20" r="20" fill="#FF0000" />
										<path
											d="M29.8289 16.7388C29.7068 15.5525 29.4423 14.2424 28.4698 13.5531C27.7154 13.0187 26.7251 12.9991 25.8006 13C23.8457 13.0018 21.8908 13.0036 19.9359 13.0054C18.0558 13.0071 16.1757 13.0089 14.2956 13.0107C13.5101 13.0107 12.7468 12.9502 12.0174 13.2895C11.3904 13.5816 10.9006 14.1364 10.6066 14.7536C10.197 15.6131 10.1106 16.5857 10.0616 17.5359C9.97074 19.2655 9.98054 21.0005 10.0901 22.7283C10.1694 23.9903 10.3715 25.3841 11.3467 26.1883C12.2115 26.9008 13.4317 26.9355 14.5521 26.9364C18.111 26.9391 21.6699 26.9418 25.2288 26.9453C25.6848 26.9453 26.1613 26.9373 26.6262 26.8865C27.5418 26.7877 28.4137 26.5258 29.0015 25.8481C29.5946 25.165 29.7469 24.2129 29.8378 23.3125C30.0569 21.1287 30.0542 18.9217 29.8289 16.7388ZM17.8776 23.0355V16.9098L23.1831 19.9727L17.8776 23.0355Z"
											fill="white" />
									</svg>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/myoutspark/" aria-label="Go to Instagram"
									target="_blank" title="Visit Instagram Profile">
									<img src="images/revamp_img//instagram_logo_2022.png" alt="Instagram Logo">

								</a>
							</li>
						</ul>
					</div>

					<p>Copyright &#169; 2025 OutSpark</p>

				</div>

			</div>
</footer>

	<!-- To Top -->
	<div class="scroll-top-to">
		<i class="ti-angle-up"></i>
	</div>

	<!-- JAVASCRIPTS -->
	<script src="/plugins/jquery/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<!-- google map -->
	<script src="/js/script.js"></script>
	<script src="/js/custom.js" type="text/javascript"></script>
	

	<script type="module">
		// Import the functions you need from the SDKs you need
		import { initializeApp } from "https://www.gstatic.com/firebasejs/10.3.1/firebase-app.js";
		import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.3.1/firebase-analytics.js";
		// TODO: Add SDKs for Firebase products that you want to use
		// https://firebase.google.com/docs/web/setup#available-libraries

		// Your web app's Firebase configuration
		// For Firebase JS SDK v7.20.0 and later, measurementId is optional
		const firebaseConfig = {
			apiKey: "AIzaSyCXnp4pS7SnWt9aHOyqjtoKBA0kfdi15mg",
			authDomain: "jobprephq.firebaseapp.com",
			projectId: "jobprephq",
			storageBucket: "jobprephq.appspot.com",
			messagingSenderId: "21004174852",
			appId: "1:21004174852:web:e80d212e0af80171cd5751",
			measurementId: "G-7GZW1B5K24"
		};

		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const analytics = getAnalytics(app);
	</script>
	<footer>
		<script type="text/javascript">
			_linkedin_partner_id = "5557020";
			window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
			window._linkedin_data_partner_ids.push(_linkedin_partner_id);
		</script>
		<script type="text/javascript">
			(function (l) {
				if (!l) {
					window.lintrk = function (a, b) { window.lintrk.q.push([a, b]) };
					window.lintrk.q = []
				}
				var s = document.getElementsByTagName("script")[0];
				var b = document.createElement("script");
				b.type = "text/javascript"; b.async = true;
				b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
				s.parentNode.insertBefore(b, s);
			})(window.lintrk);
		</script>
		<noscript>
			<img height="1" width="1" style="display:none;" alt=""
				src="https://px.ads.linkedin.com/collect/?pid=5557020&fmt=gif" />
		</noscript>
	</footer>

</body>
</html>